/* ===============================
======= <MOBILE-SCREEN> ========
================================*/
@layer base{
    .screen-wrapper{
        @apply 
        /* md:py-[2rem] */
        min-h-screen md:min-h-[100vh-10rem]
        w-full
        flex
        /* px-4 */
        /* justify-center */
    }
    
    .screen-inner{
        @apply 
        w-full 
        max-w-[450px]
        border
        border-slate-100 
        h-full
        shadow-[0_1px_10px_rgba(0,0,0,0.02),_0_1px_10px_rgba(0,0,0,0.02)]
    }
}