/* ANIMATION DELAY */
.animation-delay-1{
  animation-delay: 0.1s !important;
}
.animation-delay-2{
  animation-delay: 0.3s !important;
}
.animation-delay-3{
  animation-delay: 0.5s !important;
}
.animation-delay-4{
  animation-delay: 0.7s !important;
}
.animation-delay-5{
  animation-delay: 1s !important;
}
.animation-delay-6{
  animation-delay: 1.3s !important;
}
.animation-delay-7{
  animation-delay: 1.55s !important;
}
.animation-delay-8{
  animation-delay: 2s !important;
}
.animation-delay-9{
  animation-delay: 2.5s !important;
}
.animation-delay-10{
  animation-delay: 3s !important;
}

.animation-scale-1{
  @apply
  relative;

  animation: scale1 2s infinite linear;
}

.animation-cloud-1 {
    @apply
    absolute
    z-[-1]
    top-[14%]
    -start-[11rem]
    max-w-[11rem];
    animation: slide-left 20s infinite linear;
}
.animation-cloud-2 {
    @apply
    absolute
    z-[-1]
    top-[5%]
    -start-[9rem]
    max-w-[9rem];
    animation: slide-left 30s infinite linear;
    animation-delay: 7s;
}
.animation-cloud-3 {
    @apply
    absolute
    z-[-1]
    top-[25%]
    -start-[11rem]
    max-w-[11rem];
    animation: slide-left 25s infinite linear;
    animation-delay: 4s;
}
.animation-cloud-4 {
    @apply
    absolute
    z-[-1]
    top-[43%]
    -start-[11rem]
    max-w-[11rem];
    animation: slide-left 25s infinite linear;
    animation-delay: 10s;
}
.animation-cloud-5 {
    @apply
    absolute
    z-[-1]
    top-[60%]
    -start-[11rem]
    max-w-[11rem];
    animation: slide-left 25s infinite linear;
    animation-delay: 14s;
}


@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes slide-left {
    0% {
        transform: translateX(45rem); /* Start position: right outside the container */
    }
    100% {
        transform: translateX(-0rem); /* End position: left outside the container */
    }
  }



  .animation-wave {
    @apply relative z-[1] 
    before:content-[""] 
    before:absolute 
    before:w-[170%] 
    before:h-[170%] 
    before:animate-[pulsate1_2s] 
    before:opacity-100 
    before:z-[-1] 
    before:-translate-x-2/4 
    before:-translate-y-2/4 
    before:rounded-[50%] 
    before:border-[1rem] 
    before:border-solid 
    before:border-[#a65e83]
    before:left-2/4 
    before:top-2/4;
  }
  .animation-wave:before {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    background: rgba(198, 16, 0, 0);
  }
  
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(0.6);
      transform: translate(-50%, -50%) scale(0.6);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(0.6);
      transform: translate(-50%, -50%) scale(0.6);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1, 1);
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }



  @-webkit-keyframes couple-image-card-1 {
    0% {
      -webkit-transform: translate(-25rem, -6rem) rotate(-33deg) scale(0.8);
      transform: translate(-25rem, -6rem) rotate(-33deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(-6rem, 0rem) rotate(-15deg) scale(1);
      transform: translate(-6rem, 0rem) rotate(-15deg) scale(1);
    }
  }
  
  @keyframes couple-image-card-1 {
    0% {
      -webkit-transform: translate(-25rem, -6rem) rotate(-33deg) scale(0.8);
      transform: translate(-25rem, -6rem) rotate(-33deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(-6rem, 0rem) rotate(-15deg) scale(1);
      transform: translate(-6rem, 0rem) rotate(-15deg) scale(1);
    }
  }

  @-webkit-keyframes couple-image-card-2 {
    0% {
      -webkit-transform: translate(25rem, 6rem) rotate(-33deg) scale(0.8);
      transform: translate(25rem, 6rem) rotate(-33deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(12rem, -4rem) rotate(6deg) scale(1);
      transform: translate(12rem, -4rem) rotate(6deg) scale(1);
    }
  }
  
  @keyframes couple-image-card-2 {
    0% {
      -webkit-transform: translate(25rem, 6rem) rotate(-33deg) scale(0.8);
      transform: translate(25rem, 6rem) rotate(-33deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(12rem, -4rem) rotate(6deg) scale(1);
      transform: translate(12rem, -4rem) rotate(6deg) scale(1);
    }
  }

  
@include keyframes (glowing1) {
  0% {
      height: 100%;
      width: 100%;
  }
  100% {
      height: 130%;
      width: 130%;
      opacity: 0;
  }
}

@-webkit-keyframes glowing1 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 150%;
    width: 150%;
    opacity: 0; } }
@-moz-keyframes glowing1 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 150%;
    width: 150%;
    opacity: 0; } }
@-o-keyframes glowing1 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 150%;
    width: 150%;
    opacity: 0; } }
@keyframes glowing1 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 150%;
    width: 150%;
    opacity: 0; } }
 
    
@include keyframes (glowing3) {
  0% {
      height: 100%;
      width: 100%;
  }
  100% {
      height: 130%;
      width: 110%;
      opacity: 0;
  }
}

@-webkit-keyframes glowing3 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 130%;
    width: 110%;
    opacity: 0; } }
@-moz-keyframes glowing3 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 130%;
    width: 110%;
    opacity: 0; } }
@-o-keyframes glowing3 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 130%;
    width: 110%;
    opacity: 0; } }
@keyframes glowing3 {
  0% {
    height: 100%;
    width: 100%; }
  100% {
    height: 130%;
    width: 110%;
    opacity: 0; } }