
.btn--primary,
.btn--secondary,
.btn--light,
.btn--style{
    @apply
    inline-flex
    items-center
    justify-center
    rounded
    font-semibold
    /* text-[min(max(0.7rem,3vw),12px)] */
    text-md
    px-[1.25rem]
    py-[1rem]
    relative
    z-[2]
    outline-none
    transition-all
    duration-300
}
.btn--sm{
    @apply
    py-[1rem]
    leading-[1.25]
}
.btn--w-lg{
    @apply
    min-w-[min(max(7rem,35vw),130px)]
}

.btn--light{
    @apply
    bg-[#efeff0]
    text-primary
    shadow-[0px_8px_15px_rgba(255,255,255,0.1)]
    /* hover:shadow-[0px_15px_30px_rgba(255,255,255,0.25)] */
    before:bg-white
}

.btn--secondary{
    @apply
    bg-white
    bg-opacity-10
    text-white
    text-opacity-50
    hover:bg-white
    hover:text-primary
    before:bg-white
}

.btn--primary{
    @apply
    bg-primary
    text-white
    relative
    z-[1]
    before:bg-primary
}

.btn--light:before,
.btn--secondary:before,
.btn--primary:before {
    @apply absolute h-full w-full content-[""] -translate-x-2/4 -translate-y-2/4 animate-[glowing3_1.1s_linear_infinite] z-[-1] opacity-0 invisible rounded left-2/4 top-2/4 bg-opacity-50;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: glowing3 1.1s linear infinite;
    -moz-animation: glowing3 1.1s linear infinite;
    -o-animation: glowing3 1.1s linear infinite;
    z-index: -1;
  }
  
  .btn--light:hover:before,
  .btn--secondary:hover:before,
  .btn--primary:hover:before {
    opacity: 1;
    visibility: visible; 
}
  


@include keyframes (glowing3) {
    0% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 130%;
        width: 110%;
        opacity: 0;
    }
}