.footer-float-bar{
    @apply
    bg-[rgb(110,38,86)] 
    rounded-tl-[1.25rem] 
    rounded-tr-[1.25rem] 
    absolute
    bottom-0 
    left-0
    z-50
    py-4 
    w-full 
    flex 
    justify-around 
    shadow-[55px_13px_250px_rgba(14,14,16,0.52)]
}

.footer-float-bar .footer-float-bar--item{
    @apply
    relative
    p-3
    text-white
}

.footer-float-bar .footer-float-bar--item > svg,
.footer-float-bar .footer-float-bar--item > img{
    @apply
    w-6
    h-6
}

.footer-float-bar .footer-float-bar--item.active{
    @apply
    text-primary
    before:content-['']
    before:w-[0.4rem]
    before:h-[0.4rem]
    before:bg-primary
    before:rounded-full
    before:absolute
    before:start-1/2
    before:-translate-x-1/2
    before:bottom-0
}

.footer-float-bar .footer-float-bar--item.active svg,
.footer-float-bar .footer-float-bar--item.active img {
    /* @apply
    invert-[19%] 
    sepia-[94%] 
    saturate-[7492%] 
    hue-rotate-[316deg] 
    brightness-[95%] 
    contrast-[101%] */
}