.select2-container--default .select2-search--inline,
.input-control{
    @apply 
    w-full
    block
    rounded
    h-[56px]
    bg-input-bg
    py-3
    px-6
    !border-0
    text-white
    outline-none
    text-md
    font-medium

    placeholder:text-white
    placeholder:text-opacity-20
}

textarea.input-control{
    @apply 
    h-auto
    resize-none
}

.input-group{
    @apply
    mb-5
}

.input-label{
  @apply 
  block
  mb-2
  text-white
  ps-3
  text-xl
  font-medium
}

select.input-control{
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: 1em;
}



/* UL SELECT */
.ul-select{
    @apply 
    relative
    z-0
  }
  
  .ul-select .ul-select-input{
    @apply
    relative
    flex
    h-[56px]
    w-full
    cursor-pointer
    bg-input-bg
    rounded
    px-6 py-3
    items-center
    justify-between
  }
  
  .ul-select .ul-select-list{
    @apply 
    absolute
    top-[calc(100%+0.25rem)]
    rounded
    bg-[#68244F]
    hidden
    w-full
    py-3
    shadow-[0px_9px_20px_rgba(14,14,14,0.01)]
    z-0
  }
  .ul-select.is-active{
    @apply 
    z-[9]
  }
  
  .ul-select .ul-select-list li{
    @apply
    flex
    cursor-pointer
    items-center
    gap-x-2
    px-4
    py-3
    transition-all
    text-md
    duration-300
    text-white
    text-opacity-50
    hover:bg-primary-50
    hover:bg-opacity-15
    hover:text-white
  }
  
  .ul-select .ul-select-name{
    @apply
    flex 
    items-center
    gap-x-3
    font-semibold
    text-white
  }
  
  .ul-select .ul-select-name .text-label{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .ul-select .ul-select-name img,
  .ul-select .ul-select-name svg{
    @apply 
    min-w-[25px]
    w-[25px]
    h-[25px]
  }
  
  .ul-select.selected .placeholder-label,
  .ul-select.selected .select-arrow-down,
  .ul-select.no-selected .select-arrow-cancel,
  .ul-select.no-selected .ul-select-name{
    @apply 
    hidden
  }
  
  .ul-select .select-arrow-cancel{
    @apply 
    cursor-pointer
}

  .ul-select .select-arrow{
    @apply 
    inline-flex 
    h-[16px]
    w-[16px]
    items-center 
    justify-center
    text-white
    absolute
    right-4
    top-[18px]
  }

  .ul-select .select-arrow svg{
    @apply 
    h-full
    w-full
  }
  
  .ul-select .placeholder-label{
    @apply 
    text-white
    text-opacity-50
  }
  
  .ul-select .ul-select-list li .thumbnail-icon {
    @apply 
    inline-flex 
    h-5 
    w-5 
    min-w-[20px] 
    object-cover 
    rounded-full;
  }
  


  /* CHECKBOX */
  .form--check .form--check-input{
    @apply 
    hidden;
  }
  .form--check .form--check-label{
    @apply 
    font-medium
    relative
    cursor-pointer
    
  }

  .form--check .form--check-label:before {
    @apply 
    content-[''] 
    bg-transparent 
    shadow-[0_1px_2px_rgba(0,0,0,0.05),inset_0px_-15px_10px_-12px_rgba(0,0,0,0.05)] 
    inline-block 
    relative 
    align-middle 
    cursor-pointer 
    mr-[5px] p-[7px] 
    border-2 
    border-solid 
    border-white
    border-opacity-25
  }

  .form--check .form--check-input:checked + .form--check-label:after {
    @apply 
    content-[''] 
    block 
    absolute 
    w-[4px]
    h-[10px]
    rotate-45 
    border-solid 
    border-primary
    border-t-0
    border-r-[2px]
    border-b-[2px]
    border-l-0
    left-[7px] 
    top-[4px]
  }
  

  .switch-toggle__input{
    @apply
    hidden
  }
  .switch-toggle__label{
    @apply
    inline-block
    relative
    w-[3.5rem]
    h-[1.5rem]
    bg-[#E5E3E4]
    rounded-full
    cursor-pointer

    before:content-['']
    before:absolute
    before:w-2/3
    before:h-[2px]
    before:bg-[#B0AEAF]
    before:top-1/2
    before:start-1/2
    before:-translate-y-1/2
    before:-translate-x-1/2

    after:content-['']
    after:absolute
    after:w-[1.3rem]
    after:h-[1.3rem]
    after:bg-primary
    after:top-1/2
    after:start-[0.15rem]
    after:rounded-full
    after:-translate-y-1/2
    after:transition-all
    after:duration-300
  }
  .switch-toggle__label:after{
    background-image: url('../../assets/images/menu-icons/switch-off.png');
    background-position: center;
    background-size: contain;
  }
  .switch-toggle__input:checked  ~ .switch-toggle__label{
    @apply
    after:bg-[url('../../assets/images/menu-icons/switch-on.png')]
    after:start-[2rem]
  }



  /* INPUT RANGE */
  .range-slider {
    --range-slider-value-low-fallback: calc(var(--range-slider-value-low, 0) * 1%);
    --range-slider-value-high-fallback: calc(var(--range-slider-value-high, 100) * 1%);
    --range-slider-thumb-size: 8px;
    --range-slider-thumb-radius: calc(var(--range-slider-thumb-size) / 2);
    position: relative;
    width: 100%;
    height: 8px;
 }
  @media (max-width: 500px) {
    .range-slider {
      --range-slider-thumb-size: 20px;
   }
 }
 .range-slider{
    @apply
    mt-4
    mb-14
    before:content-['']
    before:absolute
    before:top-1/2
    before:start-0
    before:w-full
    before:h-[8px]
    before:mt-[-4px]
    before:rounded-full
    before:bg-white
    before:bg-opacity-15
    before:pointer-events-none
 }
  .range-slider::before {
    background-image: linear-gradient(to right, transparent var(--range-slider-value-low-fallback), #fff var(--range-slider-value-low-fallback), #fff var(--range-slider-value-high-fallback), transparent var(--range-slider-value-high-fallback));
 }
  .range-slider__display {
    pointer-events: none;
 }
  .range-slider__display::before, .range-slider__display::after {
    content: attr(data-span);
    position: absolute;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: sans-serif;
    white-space: nowrap;
    transform: translateX(-50%) translateX(calc(var(--range-slider-thumb-radius) * calc(-0.02 * var(--pos) + 1)));
    z-index: -1;
 }
  .range-slider__display::before {
    --pos: var(--range-slider-value-low);
    content: attr(data-low);
    top: calc(100% + 1rem);
    margin-bottom: calc(var(--range-slider-thumb-size) / 4);
    left: var(--range-slider-value-low-fallback);
 }
  .range-slider__display::after {
    --pos: var(--range-slider-value-high);
    content: attr(data-high);
    top: calc(100% + 1rem);
    left: var(--range-slider-value-high-fallback);
 }
  .range-slider__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    background-color: transparent;
    pointer-events: none;
 }
  @supports selector(:focus-visible) {
    .range-slider__input:focus-visible {
      outline: none;
   }
    .range-slider__input:focus-visible::-webkit-slider-thumb {
      outline: 2px solid blue;
      outline-offset: 2px;
   }
    .range-slider__input:focus-visible::-moz-range-thumb {
      outline: 2px solid blue;
      outline-offset: 2px;
   }
 }
  @supports not selector(:focus-visible) {
    .range-slider__input:focus {
      outline: none;
   }
    .range-slider__input:focus::-webkit-slider-thumb {
      outline: 2px solid blue;
      outline-offset: 2px;
   }
    .range-slider__input:focus::-moz-range-thumb {
      outline: 2px solid blue;
      outline-offset: 2px;
   }
 }
  .range-slider__input:active::-webkit-slider-thumb {
    transform: scale(1.3);
    cursor: grabbing;
 }
  .range-slider__input:active::-moz-range-thumb {
    transform: scale(1.3);
    cursor: grabbing;
 }
  .range-slider__input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
 }
  .range-slider__input::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
 }
  .range-slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: all;
    position: relative;
    width: var(--range-slider-thumb-size);
    height: var(--range-slider-thumb-size);
    background-color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    cursor: grab;
    transition: transform 300ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
 }
  .range-slider__input::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: all;
    position: relative;
    width: var(--range-slider-thumb-size);
    height: var(--range-slider-thumb-size);
    background-color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    cursor: grab;
    transition: transform 300ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
 }
  

/* MULTI SELECT2 */
.select2-container--default .select2-selection--multiple{
  @apply
  bg-transparent
  !border-0
  flex 
  flex-col-reverse
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  @apply
  mt-2
  ms-0
  me-3
  bg-primary 
  py-1 
  px-3 
  rounded-[7px] 
  border-0
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  background-image: url("data:image/svg+xml;base64,PHN2ZyBzdHJva2U9IiNmZmYiIGZpbGw9IiNmZmYiIHN0cm9rZS13aWR0aD0iMCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGhlaWdodD0iMWVtIiB3aWR0aD0iMWVtIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00MDUgMTM2Ljc5OEwzNzUuMjAyIDEwNyAyNTYgMjI2LjIwMiAxMzYuNzk4IDEwNyAxMDcgMTM2Ljc5OCAyMjYuMjAyIDI1NiAxMDcgMzc1LjIwMiAxMzYuNzk4IDQwNSAyNTYgMjg1Ljc5OCAzNzUuMjAyIDQwNSA0MDUgMzc1LjIwMiAyODUuNzk4IDI1NnoiPjwvcGF0aD48L3N2Zz4=");
  @apply
  inline-flex
  h-full
  bg-center
  bg-no-repeat
  relative
  !bg-transparent
  !text-white 
  border-0
  pe-2
  w-[20px]
  indent-[99px]
  overflow-hidden
}
.select2-container--default .select2-search--inline .select2-search__field{
@apply
  placeholder:text-md
  placeholder:font-medium
  placeholder:text-white
  placeholder:text-opacity-20  
}


.select2-container--default .select2-dropdown{
@apply
  border-0
  rounded
  bg-[#68244F]
  w-full
  py-3
  shadow-[0px_9px_20px_rgba(14,14,14,0.01)]
}

.select2-container--default .select2-dropdown li.select2-results__option{
  @apply
  flex
  cursor-pointer
  items-center
  gap-x-2
  px-4
  py-3
  transition-all
  text-md
  duration-300
  text-white
  text-opacity-50
  hover:bg-primary-50
  hover:bg-opacity-15
  hover:text-white
} 
.select2-container--default .select2-dropdown li.select2-results__option.select2-results__option--selected{
  @apply
  bg-primary
  bg-opacity-25
  text-white
}
.select2-container--default .select2-dropdown li.select2-results__option.select2-results__option--highlighted{
  @apply
  bg-primary
  text-white
}


/* MOBILE CODE */
.input-group .iti{
  @apply
  w-full
}
.input-group .iti__country-list{
  @apply
  bg-input-bg
  border-0
  py-3
  rounded
  my-2
}
.input-group .iti__country-list .iti__country{
  @apply
  py-3
  px-3
}
.input-group .iti--separate-dial-code .iti__selected-dial-code{
  @apply
  text-lg
  text-white
  font-medium
  ms-2
}

.input-group .iti__arrow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBzdHJva2U9IiNmZmYiIGZpbGw9IiNmZmYiIHN0cm9rZS13aWR0aD0iMCIgdmlld0JveD0iMCAwIDMyIDMyIiBoZWlnaHQ9IjFlbSIgd2lkdGg9IjFlbSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDQuMjE4NzUgMTAuNzgxMjUgTCAyLjc4MTI1IDEyLjIxODc1IEwgMTUuMjgxMjUgMjQuNzE4NzUgTCAxNiAyNS40MDYyNSBMIDE2LjcxODc1IDI0LjcxODc1IEwgMjkuMjE4NzUgMTIuMjE4NzUgTCAyNy43ODEyNSAxMC43ODEyNSBMIDE2IDIyLjU2MjUgWiI+PC9wYXRoPjwvc3ZnPg==");
  @apply
  order-first
  w-4
  h-4
  overflow-hidden
  border-0
  me-3
  bg-center
  bg-no-repeat
  bg-transparent
}
.input-group .iti__selected-dial-code {
  @apply
  pe-2
}
.input-group .iti--separate-dial-code .iti__selected-flag {
  @apply
  bg-white
  bg-opacity-5
  transition-all
  duration-300
  hover:bg-white
  hover:bg-opacity-10
  rounded-l
}

.input-group .iti__flag-box, 
.input-group .iti__country-name, 
.input-group .iti__dial-code {
  @apply
  text-white
}