.list-card,
.list-reactions{
    @apply 
    flex 
    flex-col 
    gap-4 
    mb-7
}

.list-reactions .list-item--label,
.list-card .list-item{
    @apply 
    rounded 
    bg-contain 
    bg-center 
    bg-[#814067]
    flex 
    items-center 
    gap-[1.25rem] 
    text-white 
    p-[1.25rem]
    relative
    bg-[url('../images/action-reaction-list-item-bg.png')]
    z-[1]
}

.list-reactions .list-item--label{
    @apply 
    cursor-pointer

    before:content-['']
    before:w-0
    before:h-0
    before:bg-primary
    before:absolute
    before:rounded-full
    before:top-1/2
    before:start-[3rem]
    before:-translate-y-1/2
    before:-z-[1]
    before:transition-all
    before:duration-[0.6s]
}

.list-reactions .list-item-check .list-item--input{
    @apply 
    hidden
}

.list-reactions .list-item--icon{
    @apply 
    w-[4rem] 
    min-w-[4rem] 
    h-[4rem] 
    flex 
    items-center 
    justify-center 
    text-[1.75rem] 
    font-bold 
    rounded-full
    bg-[#753a5d] 
}
.list-reactions .list-item-check .list-item--input:checked ~ .list-item--label{
    @apply 
    before:w-[40rem]
    before:h-[40rem]
    before:-start-[10rem]
}
.list-reactions .list-item-check .list-item--input:checked ~ .list-item--label .list-item--icon{
    @apply 
    bg-[#C50277]
}

/* BUTTON CHECK */
.btn--check .btn--check-input,
.outline--check .outline--check-input {
    @apply
    hidden
}

.btn--check .btn--check-label{
    @apply
    inline-flex
    items-center
    justify-center
    bg-white
    bg-opacity-10
    text-white
    text-opacity-50
    px-6
    py-4
    rounded
    text-md
    font-semibold
    cursor-pointer
}
.outline--check .outline--check-label {
    @apply
    border-2
    block
    border-transparent 
    cursor-pointer
    relative z-[1]
}

.outline--check .outline--check-input:checked ~ .outline--check-label {
    @apply
    border-primary
    before:content-[''] 
    before:blur-xl 
    before:w-full
    before:h-4
    before:bg-primary 
    before:absolute 
    before:-z-[1] 
    before:-bottom-2 
    before:start-1/2 
    before:-translate-x-1/2
}

.btn--check .btn--check-input:checked ~ .btn--check-label {
    @apply
    !bg-primary
    !text-white
}





/* .list-stars-progress li{
    @apply
    bg-[#884b70]
    inline-block
    w-5
    h-5
    rounded-full
    relative
    z-[1]
}

.list-stars-progress li.active{
    @apply
    bg-primary
    
    before:content-['']
    before:absolute
    before:w-[min(max(4rem,20vw),90px)]
    before:h-3
    before:top-1/2
    before:end-0
    before:-translate-y-1/2
    before:bg-primary
    before:rounded-full
    before:-z-[1]
} */
/* 
.list-stars-progress li.active.current{
    @apply
    shadow-[0px_13px_15px_10.92px_rgba(32,31,38,0.22)]
}

img.list-stars-progress-star {
    @apply 
    min-w-[30px]
    absolute
    start-1/2
    bottom-[40px]
    -translate-x-1/2
}
 */


/* DROPDOWN */
.dropdown-wrapper{
    @apply 
    relative
}
.dropdown-wrapper .dropdown-menu{
    @apply 
    min-w-[10rem]
    bg-[#451944]
    block
    end-0
    py-2
    rounded
    absolute
    z-[99]
}
.dropdown-wrapper .dropdown-menu:not(.active){
    @apply 
    hidden
}

.dropdown-menu-list{
    @apply
    flex
    flex-col
}

.dropdown-menu-link{
    @apply
    block
    py-2
    px-4
    transition-all
    duration-300
    text-white
    hover:bg-white
    hover:bg-opacity-5
}





/* MENU LIST */
.list-drawer-menu{
    @apply
    flex
    flex-col
    gap-y-3
    mb-6
}

.list-drawer-menu .menu-item{
    @apply
    relative
    z-[1]
}
.list-drawer-menu .menu-item-link{
    @apply
    bg-[#814067]
    block
    py-4
    px-6
    flex
    items-center
    gap-5
    text-white
    text-opacity-50
    rounded
    transition-all
    duration-300
    leading-[1.6]
}
.list-drawer-menu .menu-item-link:hover,
.list-drawer-menu .menu-item-link.active{
    @apply
    !bg-primary
    !text-white
}
.list-drawer-menu .menu-item-icon {
    @apply
    max-w-5
    max-h-5
}

.list-drawer-menu .submenu{
    @apply 
    py-3
    bg-[#6E3959]
    -mt-2
    -z-[1]
    relative
    rounded-b
    hidden
    
}
.list-drawer-menu .has-submenu.open .submenu{
    @apply 
    block
}

.list-drawer-menu .submenu .menu-item-link{
    @apply 
    rounded-none
    bg-[#6E3959]
}


/* LIST MESSAGES */
.list-messages{
    @apply
    flex 
    flex-col
}
.list-messages .list-messages__item{
    @apply
    bg-[#62224C] 
    flex 
    items-center 
    gap-3 
    py-3 
    px-6
}
.list-messages .list-messages__item:not(:last-child){
    @apply
    border-b-2 
    border-white 
    border-opacity-10 
}
.list-messages .list-messages__item.unread{
    @apply
    bg-[#561E43] 
    relative

    before:content-['']
    before:absolute
    before:w-[5px]
    before:h-[5px]
    before:bg-primary
    before:rounded-full
    before:start-3
    before:top-1/2
    before:-translate-y-1/2
}


.icon-message-unread{
    @apply
    inline-block
    relative
    z-[1]

    before:content-['']
    before:w-2
    before:h-2
    before:bg-primary
    before:rounded-full
    before:absolute
    before:z-[2]
    before:top-0
    before:end-0
}

.list-authors{
    @apply
    inline-flex
}
.list-authors img:not(:first-child){
    @apply
    -ms-3
}


/* COUNTDOWN */
.countdown-wrapper ul.countdown{
    @apply
    text-4xl
    text-white
    flex
    items-center
    gap-2
    font-bold
}
.countdown-wrapper ul.countdown li{
    @apply
    flex 
}
.countdown-wrapper ul.countdown li>span{
    @apply
    flex flex-col
}
