.list-card,
.list-reactions{
    @apply 
    flex 
    flex-col 
    gap-4 
    mb-7
}

.list-reactions .list-item--label,
.list-card .list-item{
    @apply 
    rounded 
    bg-contain 
    bg-center 
    bg-primary-50
    bg-opacity-35
    flex 
    items-center 
    gap-[1.25rem] 
    text-white 
    p-[1.25rem]
    relative
    z-[1]
    overflow-hidden
    bg-[url('../images/action-reaction-list-item-bg.png')]
}

.list-reactions .list-item--label{
    @apply 
    cursor-pointer

    before:content-['']
    before:w-0
    before:h-0
    before:bg-primary
    before:absolute
    before:rounded-full
    before:top-1/2
    before:start-[3rem]
    before:-translate-y-1/2
    before:-z-[1]
    before:transition-all
    before:duration-[0.6s]
}

.list-reactions .list-item-check .list-item--input{
    @apply 
    hidden
}

.list-reactions .list-item--icon{
    @apply 
    w-[4rem] 
    min-w-[4rem] 
    h-[4rem] 
    flex 
    items-center 
    justify-center 
    text-[1.75rem] 
    font-bold 
    rounded-full
    bg-[#753a5d] 
}
.list-reactions .list-item-check .list-item--input:checked ~ .list-item--label{
    @apply 
    before:w-[40rem]
    before:h-[40rem]
    before:-start-[10rem]
}
.list-reactions .list-item-check .list-item--input:checked ~ .list-item--label .list-item--icon{
    @apply 
    bg-[#C50277]
}