/* DIVIDER TEXT */
.hr-text  {
    @apply
    relative
}
.hr-text span {
    @apply
    relative

    before:content-['']
    before:w-[40rem]
    before:h-1
    before:absolute
    before:end-full
    before:top-1/2
    before:-translate-x-4
    before:-translate-y-1/2
    before:bg-primary-50
    before:bg-opacity-25

    after:content-['']
    after:w-[40rem]
    after:h-1
    after:absolute
    after:start-full
    after:top-1/2
    after:translate-x-4
    after:-translate-y-1/2
    after:bg-primary-50
    after:bg-opacity-25
}

/* FONT SIZES */
h1, .h1{
    @apply
    text-4xl
    font-semibold
}

h2, .h2{
    @apply
    text-3xl
    font-semibold
}
h3, .h3{
    @apply
    text-2xl
    font-semibold
}
h4, .h4{
    @apply
    text-xl
    font-semibold
}
h5, .h5{
    @apply
    text-lg
    font-semibold
}
h6, .h6{
    @apply
    text-md
}

h1, h2, h3, h4, h5, h6, p{
    @apply
    mb-3
}


/* PROGRESS BAR */
.progress{
    @apply
    flex
    items-center
    justify-between
    bg-[#814067]
    rounded-full
    py-[0.25rem]
    px-1
}
.progress-bar{
    @apply 
    w-full
    h-full
    bg-[#74335F]
    rounded-full
}
.progress-line{
    @apply
    bg-primary
    max-w-full
    h-5
    block
    w-full
    rounded-full
    relative
    z-[1]

    before:content-[""]
    before:w-full
    before:h-3
    before:bg-primary
    before:bg-opacity-50
    before:absolute
    before:-top-4
    before:start-0
    before:-z-[1]
    before:blur-lg
}
.progress-num{
    @apply
    font-semibold
    text-white
    text-sm
    px-3
}


/* LINKS */
.link-primary{
    @apply 
        text-primary
}




/* TABS */
.tab-navigation{
    @apply 
    bg-black
    bg-opacity-15
    rounded
    p-3
    flex 
    items-center 
    justify-between
    gap-3
}
.tab-navigation li{
    @apply 
    flex-1
}
.tab-navigation .tab-link{
    @apply 
    bg-[#331630]
    bg-opacity-30
    rounded
    py-3
    px-4
    block
    font-medium
    text-white
    text-opacity-25
    text-center
    cursor-pointer
    text-md
}
.tab-navigation li.active .tab-link{
    @apply 
    bg-primary
    text-opacity-100
}

.tab-panel{
    @apply 
    hidden
}

.tab-panel.active{
    @apply 
    block
}




.body-overlay.show{
    @apply
    fixed
    w-screen
    h-full
    top-0
    start-0
    bg-[#4b1a3a]
    bg-opacity-75
    z-[97]
}

/* MODAL */
.modal{
    @apply
    flex
    top-0
    start-0
    justify-center
    items-center
    h-full 
    w-full
    z-[99]
    p-3
}
.modal.show{
    @apply
    absolute
}

.modal-wrapper{
    @apply
    bg-[#712757]
    w-full
    max-w-[25rem]
    rounded-lg
}

.modal-header{
    @apply 
    p-5
    flex
    justify-between
    items-center
}
.modal-body{
    @apply 
    p-5
}


/* CARD */
.card{
    @apply
    bg-[#814067]
    rounded
    relative
}

.card-header{
    @apply
    p-5
    bg-[#75345B]
    rounded-t
}

.card-body{
    @apply
    p-5
    flex
    flex-col
}

.card-footer{
    @apply
    p-5
    border-t-2
    border-black
    border-opacity-5
}

.shadow-primary{
    @apply 
    relative
    z-[1]

    before:content-['']
    before:w-2/3
    before:h-3
    before:bg-primary
    before:absolute
    before:-bottom-3
    before:start-1/2
    before:-translate-x-1/2
    before:blur-lg
    before:-z-[1]
    
}