/* DIVIDER TEXT */
.hr-text  {
    @apply
    relative
}
.hr-text span {
    @apply
    relative

    before:content-['']
    before:w-[40rem]
    before:h-1
    before:absolute
    before:end-full
    before:top-1/2
    before:-translate-x-4
    before:-translate-y-1/2
    before:bg-primary-50
    before:bg-opacity-25

    after:content-['']
    after:w-[40rem]
    after:h-1
    after:absolute
    after:start-full
    after:top-1/2
    after:translate-x-4
    after:-translate-y-1/2
    after:bg-primary-50
    after:bg-opacity-25
}

.text-sm{
    @apply 
    text-[0.9rem]
    leading-[1.3]
}

.text-2xl{
    @apply 
    text-[1.25rem]
    leading-[1.3]
    font-semibold
}

.text-3xl{
    @apply 
    text-[1.35rem]
    leading-[1.3]
    font-semibold
}

/* FONT SIZES */

.text-xs{
    @apply 
    text-[min(max(0.46rem,2vw),10px)]
    leading-[1.5]
}

.text-md{
    @apply
    text-[min(max(0.7rem,3vw),14px)]
    leading-[1.5]
}

.text-lg{
    @apply
    text-[min(max(0.7rem,3vw),15px)]
    leading-[1.5]
}

.text-xl{
    @apply 
    text-[min(max(0.8rem,3.5vw),18px)]
    leading-[1.4]
    font-semibold
}

.text-4xl{
    @apply 
    text-[min(max(1.25rem,7.5vw),34px)]
    leading-[1.3]
    font-semibold
}







/* PROGRESS BAR */
.progress{
    @apply
    flex
    items-center
    justify-between
    bg-[#814067]
    rounded-full
    py-[0.25rem]
    px-1
}
.progress-bar{
    @apply 
    w-full
    h-full
    bg-[#74335F]
    rounded-full
}
.progress-line{
    @apply
    bg-primary
    max-w-full
    h-5
    block
    w-full
    rounded-full
    relative

    before:content-[""]
    before:w-full
    before:h-full
    before:bg-primary
    before:bg-opacity-50
    before:absolute
    before:bottom-[calc(100%+0.5rem)]
    before:start-0
    before:blur-md
}
.progress-num{
    @apply
    font-semibold
    text-white
    text-sm
    px-3
}


/* LINKS */
.link-primary{
    @apply 
        text-primary
}




/* TABS */
.tab-navigation{
    @apply 
    bg-black
    bg-opacity-15
    rounded
    p-3
    flex 
    items-center 
    justify-between
    gap-3
}
.tab-navigation li{
    @apply 
    flex-1
}
.tab-navigation .tab-link{
    @apply 
    bg-[#331630]
    bg-opacity-30
    rounded
    py-3
    px-4
    block
    font-medium
    text-white
    text-opacity-25
    text-center
    cursor-pointer
}
.tab-navigation li.active .tab-link{
    @apply 
    bg-primary
    text-opacity-100
}

.tab-panel{
    @apply 
    hidden
}

.tab-panel.active{
    @apply 
    block
}