/* ARROWS */
[theme-slider] .slick-arrow{
    @apply 
    absolute
    top-1/2
    -translate-y-1/2
    z-50
    bg-white
    bg-opacity-10
    w-7
    h-7
    inline-flex
    items-center
    justify-center
    rounded-full
}
[theme-slider] .slick-arrow.arrows-left{
    @apply 
    -start-7
}
[theme-slider] .slick-arrow.arrows-right{
    @apply 
    -end-7
}


.popup-offer-slider .slick-track{
    @apply
    flex
    items-center
}

.popup-offer-slider .slick-track .slick-slide{
    @apply 
    float-none
}

.popup-offer-slider .slick-track .slick-slide .thumbnail{
    @apply 
    h-[min(max(7rem,3vh),125px)]
    transition-all duration-300
}

.popup-offer-slider .slick-track .slick-slide.slick-active .thumbnail{
    @apply 
    h-[min(max(10rem,22vh),200px)]
}

.slick-dots li,
.popup-offer-slider .slick-dots li{
    @apply 
    mx-1
}
.slick-dots li,
.slick-dots li button,
.popup-offer-slider .slick-dots li,
.popup-offer-slider .slick-dots li button{
    @apply 
    p-0
    h-2
    w-2
    transition-all
    duration-300
}

.slick-dots li.slick-active,
.slick-dots li.slick-active button,
.slick-dots li.slick-active button:before,

.popup-offer-slider .slick-dots li.slick-active,
.popup-offer-slider .slick-dots li.slick-active button,
.popup-offer-slider .slick-dots li.slick-active button:before{
    @apply 
    p-0
    w-6
}

.slick-dots li button:before,
.popup-offer-slider .slick-dots li button:before{
    @apply 
    h-2
    w-2
    rounded-full
    inline-block
    bg-white
    text-[0px]
}




/* SUBSCRIPTION SLIDER */
.subscription-slider .slider-item{
    background-size: 100% 100%;
    @apply 
    rounded-lg
    bg-center
    bg-[url('../images/abonnement-slide-bg.png')]
}
.subscription-slider .slick-active .slider-item{
    @apply 
    bg-[url('../images/abonnement-active-bg.png')]
}



/* CAROUSEL */
.left-swipe-carousel .slick-list{
    @apply
    !ps-0
}

.slider-wrapper{
    @apply
    relative
}

.slider-wrapper .slider-arrow{
    @apply
    absolute
    top-1/2
    bg-white
    bg-opacity-10
    w-7
    h-7
    inline-flex
    items-center
    justify-center
    rounded-full
}
.slider-wrapper .slider-arrow--prev{
    @apply
    -start-7
}
.slider-wrapper .slider-arrow--next{
    @apply
    -end-7
}